<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College ERP Login</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <a href="https://cpj.shivsagar.tech">
          <img src="../public/assets/images/cpjLogo.jpeg" alt="CPJ Logo" />
        </a>
        <form action="/login" id="login-form" method="post">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="input-group">
            <label for="userRole">Login as</label>
            <select id="userRole" name="userRole">
                <option value="admin">Admin</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
          </div>
          <div class="button-group">
            <button type="submit">Login</button>
            <a href="#">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
